<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/navbar.css">
<ul class="navbar">
    <li><a href="http://192.168.10.155:3000/graph">Grafikler</a></li>
    <li><a href="http://192.168.10.155:3000/veri">Veriler</a></li>
    <li><a href="http://192.168.10.155:3000/tables">Tablolar</a></li>
</ul>