<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tablolar</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tables.css">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6a676b52b3.js"></script>
    <link rel="stylesheet" href="/air-datepicker/dist/css/datepicker.min.css">
    <script type="text/javascript" src="/air-datepicker/dist/js/datepicker.min.js"></script>
    <script type="text/javascript" src="/air-datepicker/dist/js/i18n/datepicker.tr.js"></script>
</head>
<body>
    <%include navbar.ejs%>
    <div class="table-toolbar">
        <div class="table-picker">
            <span id="visible-table-name">Tablo seçin</span><i class="fas fa-arrow-down"></i>
            <div class="dropdown-content">
                <div class="table-name" id="GD_MUSTERI_BAKIYE">Müşteri Bakiye</div>
                <div class="table-name" id="GD_TEDARIKCI_BAKIYE">Tedarikçi Bakiye</div>
                <div class="table-name" id="GD_VW_ALINAN_CEKLER">Alınan Çekler</div>
                <div class="table-name" id="GD_VW_VERILEN_CEKLER">Verilen Çekler</div>
                <div class="table-name" id="GD_VW_ALISLAR">Alışlar</div>
                <div class="table-name" id="GD_VW_SATISLAR">Satışlar</div>
                <div class="table-name" id="GD_VW_Banka">Banka</div>
                <div class="table-name" id="GD_VW_KREDILER">Krediler</div>
                <div class="table-name" id="GD_VW_GIDERLER">Giderler</div>
                <div class="table-name" id="GD_VW_VERGI">Sabit Giderler</div>
                <div class="table-name" id="GD_VW_HIZMET_SOZLESMELERI">Hizmet Sözleşmeleri</div>
                <div class="table-name" id="GD_VW_KASA">Kasa</div>
                <div class="table-name" id="GD_WV_MIZAN">Mizan</div>
                <div class="table-name" id="GD_WV_MIZAN_00">Mizan 0</div>
                <div class="table-name" id="GD_WV_MIZAN_01">Mizan 1</div>
                <div class="table-name" id="GD_WV_MIZAN_02">Mizan 2</div>
            </div>
        </div>
        <div class="searchbar">
            Search
        </div>
        <div class="dateColumnSelection">
            <select name="" id="dateColumnSelection">
                <option value="" selected disabled>Sütun Seçimi</option>
            </select>
        </div>
        <div class="dateStart">
            <input id="dateStartPicker" type="text" class="datepicker-here" data-language='tr' placeholder="İlk Tarih">
        </div>
        <div class="dateEnd">
            <input id="dateEndPicker" type="text" class="datepicker-here" data-language='tr' placeholder="Son Tarih">
        </div>
        <i class="far fa-calendar-times clear-date"></i>
        <div class="filter">
            <button onclick="filter()" id="filterButton">Filter</button>
        </div>
    </div>
    <div class="table-container" >
        <div id="data-table">

        </div>
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="js/tables.js"></script>

</html>