ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
    display: block !important;
    background: #535353;
  }
  
  li {
    float: left;


  }
  li:hover{
    background-color: #3B82BE;
  }
  
li .active{
    background-color: #2E2E2E;
}

  li a {
    display: block;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    
  }
  
  /* li a:hover {
    background-color: #3B82BE;
  } */