.table-toolbar{
  background-color: #222222;
  width: 100%;
  height: 65px;
  overflow:hidden;
  
}

.table-picker{
  cursor: default;
}

.table-picker{
  padding: 18px 16px;
  display: inline-block;

}
.searchbar{
  padding: 18px 16px;
  display: inline-block;

}
.dateStart{
  padding: 18px 16px;
  display: inline-block;
}


.dateEnd{
  padding: 18px 16px;
  display: inline-block;

}

.dateColumnSelection{
   display: inline-block;
}

.dateColumnSelection select{
  height: 26px;
  background: #ababac;
  font-weight: 600;
  color: #3a3a3a;
  border-radius: 3px;
}

.dateEnd input, .dateStart input{
  border-radius: 3px;
  padding: 5px;
  background: #ababab;
  color: #111111;
  font-weight: 600;
  border-style: none;
}
.dateEnd input::placeholder, .dateStart input::placeholder{
  color: #696969;
  font-weight: 600;
}

.clear-date{
  display: inline-block;
  cursor: pointer;
  color: rgb(156, 156, 156);
  margin-left: 5px;
}


.dropdown-content{
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: #3D3D3D;
  z-index: 1000;
}

.dropdown-content div{
  max-height: 10px;
}

.table-picker:hover .dropdown-content{
  display: block;
}

.dropdown-content div{
  padding: 13px 14px;
}

.dropdown-content div:hover{
  background-color: #3B82BE;
  cursor:default;
}

.table-container{
  margin-top: 30px;
  width: 100%;
  /* background-color: rgb(66, 66, 66); */
}

.test-black{
  background:#222222;
  font-family: 'Ubuntu', sans-serif;
  border-style:none;
  color: #acacac;
  font-weight: 600;
  height: 10px;
}
.test-black:hover{
  background:#111111;
}

.test-black-odd{
  font-family: 'Ubuntu', sans-serif;
  border-style:none;
  color: #d8d8d8;
  font-weight: 600;
  background: #3a3a3a;
  height: 10px;
}

.filter{
  display: inline-block;
  margin-left: 10px;
  
}
.filter button{
  background: #bababa;
  border-style: none;
  font-size: 15px;
  color: #313131;
}

.filter button:active{
  background: rgb(104, 168, 104);

}

.test-black-odd:hover{
  background:#111111;
}

.row-head{
  
  height: 40px;
}

.table-cell{
  overflow: auto; 
}

.google-visualization-table .gradient {
  background-image: none;
}

.table-picker i{
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.table-picker{
  margin-top: 5px;
  background: #454545;
  margin-left:5px;
}

.google-visualization-table-table td{
  border-style: none;
}